# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 7</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

** Contagem de Consumidores **

* Número total de consumidores


** Análise Geral de Compras **

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


** Informações Demográficas Por Gênero **

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


** Análise de Compras Por Gênero **

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


** Como considerações finais: **

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [1]:
# Imports
import pandas as pd
import numpy as np

In [8]:
# Carrega o arquivo
load_file = "dados_compras.json"
dadosCompras = pd.read_json(load_file, orient = "records")
dadosCompras.head()

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27

## Informações Sobre os Consumidores

In [12]:
# ** Contagem de Consumidores **
# * Número total de consumidores

# Implemente aqui sua solução
consumidoresTotal = len(np.unique(dadosCompras['Login']))
print('Existem {0} consumidores distintos nesta base de compras'.format(consumidoresTotal))

Existem 573 consumidores distintos nesta base de compras

## Análise Geral de Compras

In [19]:
# ** Análise Geral de Compras **
# * Número de itens exclusivos
# * Preço médio de compra
# * Número total de compras
# * Rendimento total

# Implemente aqui sua solução
itensExclusivos = len(np.unique(dadosCompras['Item ID']))
precoMedio = dadosCompras['Valor'].mean().round(2)
precoMediano = dadosCompras['Valor'].median()
comprasTotal = len(dadosCompras)
valorTotal = dadosCompras['Valor'].sum()
print('''Foram comprados {0} itens do catálogo, com valor mediano de R$ {1} por item e médio de R$ {4}.
Ao todo, foram realizadas {2} compras que totalizam R$ {3}.'''.format(itensExclusivos,precoMediano,comprasTotal,valorTotal,precoMedio))

Foram comprados 183 itens do catálogo, com valor mediano de R$ 2.88 por item e médio de R$ 2.93.
Ao todo, foram realizadas 780 compras que totalizam R$ 2286.33.

## Análise Demográfica

In [29]:
# Implemente aqui sua solução
idadeMediano = dadosCompras['Idade'].median()
idade = dadosCompras.groupby()).count()

       Login  Sexo  Item ID  Nome do Item  Valor
Idade
7         19    19       19            19     19
8          3     3        3             3      3
9          6     6        6             6      6
10         4     4        4             4      4
11         9     9        9             9      9
12         5     5        5             5      5
13        11    11       11            11     11
14         6     6        6             6      6
15        47    47       47            47     47
16        23    23       23            23     23
17        17    17       17            17     17
18        24    24       24            24     24
19        22    22       22            22     22
20        98    98       98            98     98
21        43    43       43            43     43
22        68    68       68            68     68
23        57    57       57            57     57
24        70    70       70            70     70
25        67    67       67            67     67
26        13    13       13            13     13
27        19    19       19            19     19
28         5     5        5             5      5
29        21    21       21            21     21
30        18    18       18            18     18
31        16    16       16            16     16
32        11    11       11            11     11
33        11    11       11            11     11
34         8     8        8             8      8
35        12    12       12            12     12
36         7     7        7             7      7
37         9     9        9             9      9
38         9     9        9             9      9
39         5     5        5             5      5
40        14    14       14            14     14
42         1     1        1             1      1
43         1     1        1             1      1
45         1     1        1             1      1

## Informações Demográficas Por Gênero

In [ ]:
#** Informações Demográficas Por Gênero **
# * Porcentagem e contagem de compradores masculinos
# * Porcentagem e contagem de compradores do sexo feminino
# * Porcentagem e contagem de outros / não divulgados

# Implemente aqui sua solução

## Análise de Compras Por Gênero

In [ ]:
# ** Análise de Compras Por Gênero **
# * Número de compras
# * Preço médio de compra
# * Valor Total de Compra
# * Compras for faixa etária

# Implemente aqui sua solução

## Consumidores Mais Populares (Top 5)

In [ ]:
# ** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **
# * Login
# * Número de compras
# * Preço médio de compra
# * Valor Total de Compra
# * Itens mais populares

# Implemente aqui sua solução

## Itens Mais Populares

In [ ]:
# ** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **
# * ID do item
# * Nome do item
# * Número de compras
# * Preço do item
# * Valor Total de Compra
# * Itens mais lucrativos

# Implemente aqui sua solução

## Itens Mais Lucrativos

In [ ]:
# ** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **
# * ID do item
# * Nome do item
# * Número de compras
# * Preço do item
# * Valor Total de Compra

# Implemente aqui sua solução

## Fim


### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>